<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm">
      <h3>Draw Here</h3>
        <div class="wrapper">
            <canvas drawable (newImage)="predict($event)"></canvas><br>
        </div>

        <button class="btn btn-sm btn-warning" (click)="canvas.clear()">Erase</button>

    </div>
    <div class="col-sm">
        <h3>TensorFlow Prediction</h3>
        <chart [data]="predictions"></chart>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="col-sm">
    <h3>Layers Visualization</h3>
    <h4>Conv2D layer: </h4>
    <canvas #newImage1 width="26" height="26" style="border:1px solid"></canvas>
    <canvas #abcdImage width="26" height="26" style="border:1px solid"></canvas>
    <canvas #newImage3 width="26" height="26" style="border:1px solid"></canvas>
    <canvas #newImage4 width="26" height="26" style="border:1px solid"></canvas>
    <canvas #newImage5 width="26" height="26" style="border:1px solid"></canvas>
    <canvas #newImage6 width="26" height="26" style="border:1px solid"></canvas>
    <canvas #newImage7 width="26" height="26" style="border:1px solid"></canvas>
    <canvas #newImage8 width="26" height="26" style="border:1px solid"></canvas>
    <canvas #newImage9 width="26" height="26" style="border:1px solid"></canvas>
    <canvas #newImage10 width="26" height="26" style="border:1px solid"></canvas>
    <canvas #newImage11 width="26" height="26" style="border:1px solid"></canvas>
    <canvas #newImage12 width="26" height="26" style="border:1px solid"></canvas>
    <canvas #newImage13 width="26" height="26" style="border:1px solid"></canvas>
    <canvas #newImage14 width="26" height="26" style="border:1px solid"></canvas>
    <canvas #newImage15 width="26" height="26" style="border:1px solid"></canvas>
    <canvas #newImage16 width="26" height="26" style="border:1px solid"></canvas>
    <canvas #newImage17 width="26" height="26" style="border:1px solid"></canvas>
    <canvas #newImage18 width="26" height="26" style="border:1px solid"></canvas>
    <canvas #newImage19 width="26" height="26" style="border:1px solid"></canvas>
    <canvas #newImage20 width="26" height="26" style="border:1px solid"></canvas>
    <canvas #newImage21 width="26" height="26" style="border:1px solid"></canvas>
    <canvas #newImage22 width="26" height="26" style="border:1px solid"></canvas>
    <canvas #newImage23 width="26" height="26" style="border:1px solid"></canvas>
    <canvas #newImage24 width="26" height="26" style="border:1px solid"></canvas>
    <canvas #newImage25 width="26" height="26" style="border:1px solid"></canvas>
    <canvas #newImage26 width="26" height="26" style="border:1px solid"></canvas>
    <canvas #newImage27 width="26" height="26" style="border:1px solid"></canvas>
    <canvas #newImage28 width="26" height="26" style="border:1px solid"></canvas>
    <canvas #newImage29 width="26" height="26" style="border:1px solid"></canvas>
    <canvas #newImage30 width="26" height="26" style="border:1px solid"></canvas>
    <canvas #newImage31 width="26" height="26" style="border:1px solid"></canvas>
    <canvas #newImage32 width="26" height="26" style="border:1px solid"></canvas>    
  </div>
</div>

<router-outlet></router-outlet>
